name: Playwright Tests
permissions:
  contents: write
  pull-requests: write
on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    env:
      AUTH_TOKEN: ${{ github.actor != 'dependabot[bot]' && secrets.PAT || github.token }}
    
    steps:
    - uses: actions/checkout@v4
    - uses: actions/setup-node@v4
      with:
        node-version: lts/*
    - name: Install dependencies
      run: npm ci
    - name: Test GitHub API
      run: |
        curl -I -H "Authorization: Bearer $AUTH_TOKEN" \
        https://api.github.com/repos/${{ github.repository }}
    - name: Try to create an issue
      run: |
        curl -X POST \
        -H "Authorization: Bearer $AUTH_TOKEN" \
        -H "Accept: application/vnd.github+json" \
        https://api.github.com/repos/${{ github.repository }}/issues \
        -d '{"title": "Test from CI"}'
    - name: Debug token               
      run: 'echo "Token length: ${#GITHUB_TOKEN}"'
    - name: Debug actor
      run: 'echo "Actor: ${{ github.actor }}"'
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run Playwright tests
      run: npx playwright test --reporter=html
    - uses: actions/upload-artifact@v4
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
